<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 </head>

 <script>
  if(winner.winner == "Tie"){
    $("#resultswinner").HTML("The game has been tied. No winner can be determined");
  }
 </script>

 <body>
   <% include global/header %>
   <div id="results">
     <h2> Results: Who Won the Game? </h2>
     <br><br>
        <%=user.name%> chose <%=user.weapon%>
    <br><br>
        <%=villain.name%> chose <%=villain.weapon%>
    <br><br>
    <div id="resultswinner" name="resultswinner">
        The winner is <%=winner.winner%>
      </div>
    <br><br>
    </div>
  <form action="/playagain" method="Get">
     <input type="submit" name="Play Again" value="Play Again!">
  </form>
    <br>
  <form action="/" method="Get">
     <button type ="button" id="LogOut"> Log Out of Our Account </button>
   </form>

   <% include global/footer %>
  <script src="scripts/scripts.js"></script>
</body>
</html>
