<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="../styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 </head>

 <script>
  if(winner.winner == "Tie"){
    $("#resultswinner").HTML("The game has been tied. No winner can be determined");
  }
 </script>

 <body>
   <% include global/header %>
   <div id="results">
     <h2> Results: Who Won the Game? </h2>
     <br><br>
        <h3> <%=user.name%> chose <%=user.weapon%> </h3>
    <br><br>
        <h4> <%=villain.name%> chose <%=villain.weapon%> </h4>
    <br><br>
    <div id="resultswinner" name="resultswinner">
        <h5> The winner is <%=winner.winner%> </h5>
      </div>
    <br><br>
    </div>
  <form action="/playagain" method="Get">
     <input type="submit" name="Play Again" value="Play Again!">
  </form>
    <br>
  <form action="/" method="Get">
    <input type="submit" name="Log Out" value="Log Out">
 </form>

   </form>

   <% include global/footer %>
  <script src="scripts/scripts.js"></script>
</body>
</html>
